
.logo {
  position: fixed;
  left: 1%;
  top: 0.7%;
}
.mypageIcon {
  position: fixed;
  right: 80px;
  top: 20px;
}
.user {
  position: fixed;
  right: 1%;
  font-weight: bold;
  text-decoration: none;

}
.crossLine{
  margin-top: 30px;
  color: rgb(153, 153, 153);
}
.labanglank {
  font-weight: bold;
  position: absolute;
  left: 24%;
  top: 11%;
}
.help {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.LankBtn{
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.ModalContainer {
  width: 270px;
  height: 95px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 8px;
  position: absolute;
  top: -110%;
  left: 70%;
}
.close{
  position: absolute;
  right: 0%;
  top: -20px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 40px;
}
.modalText1{
  font-size: 13px;
  position: absolute;
  left: 5%;
  top: 13%;
  font-weight: bold;
}
.modalText2{
  font-size: 12px;
  position: absolute;
  left: 5%;
  top: 50%;
  color: rgb(158, 158, 158);
}
.labanglankSmall{
  position: absolute;
  left: 24%;
  top: 14.5%;
  font-size: 12px;
  color: rgba(39, 39, 39, 0.589);
}
.crossLine2{
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  color: rgb(153, 153, 153);
  margin-left: 24%;

}
.Latable{
  
  width: 1000px;
  text-align: center;
  margin-left: 24%;
}