.List{
    font-size: 12px;
}
.Number{
    font-size: 110%;
    font-weight: 850;
    color: rgb(252, 160, 22);
}
.NameAll{
    text-align:left;
}
.dataName{
    font-size: 14px;
    font-weight: 900;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 280px;
}
.BroadCasting{
    color: gray;
    margin-top: -20px;
    font-size: 14px;
}
.topBar{
    color: rgb(128, 128, 128);
}
.Classification{
    margin-top: 10px;
}
.Date{

}
.Time{
    color: grey;
}
.ab{
    transform: rotate(90deg);
    color: black;
    background-color: blue;
}